@charset "UTF-8";
/* PLUGINS */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* BASE STYLES */
/* VARIABLES */
/* GLOBAL STYLES */
body {
  color: #7b6f6f;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  margin: 0px;
  min-height: calc(100vh - 150px); }

p {
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #ca5728;
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

.callout {
  width: 60%;
  margin: 20px auto 20px;
  text-align: center; }

/* LAYOUT STYLES */
/* MODULE STYLES */
/* SPLASH SCREEN STYLES */
#splashscreen {
  background-color: #F5F4F4;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  #splashscreen img {
    margin: 15% auto; }

.enter-site {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

/* HEADER MODULE */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  background-color: #F5F4F4; }
  .header::after {
    clear: both;
    content: "";
    display: table; }

.box-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end; }
  .box-header a {
    margin-right: 20%; }

#logo {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  width: 350px;
  height: 150px;
  padding: 0px;
  background: center no-repeat;
  background-image: url("img/logofinal.svg"); }

.nav {
  width: 500px;
  margin: auto;
  display: inline-block;
  justify-content: space-between;
  align-items: center; }
  .nav ul {
    display: flex;
    justify-content: space-around; }
    .nav ul li > a {
      font-size: 1.25em;
      text-decoration: underline;
      color: #231010;
      background-color: #f4d6ca;
      padding: 0.938em 1.5em;
      border-radius: 0px 35px; }
      .nav ul li > a:hover {
        color: #ca5728; }
    .nav ul .active {
      background-color: #231010;
      color: #f4d6ca; }

/* IMAGE SECTION */
.image-section {
  width: auto;
  margin: 0 5% 30px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url("img/image1.jpg"); }

/* THE METHOD SECTION */
.method {
  width: 90%;
  margin: 5%; }
  .method h3 {
    display: block;
    margin: 0 auto 20px;
    text-align: center; }

#section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F5F4F4;
  padding: 10px; }
  #section-wrapper:last-child {
    align-self: center; }
  #section-wrapper #method-inner {
    width: 350px;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 0 auto; }

/* MAIN PAGE GALLERY STYLES */
#gallery-wrapper {
  width: 100%;
  margin: 0 0% 40px; }
  #gallery-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #gallery-wrapper h1 {
    text-align: center; }

h1 {
  text-align: center;
  padding: 20px 0; }

.inner-gallery,
.inner-gallery-page {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto; }
  .inner-gallery a,
  .inner-gallery-page a {
    width: 250px;
    margin: 20px auto;
    position: relative; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF; }
  .overlay h4 {
    text-align: center;
    margin: 48% auto;
    color: #FFF; }

a:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%; }

/* TESTIMONIALS SLIDER STYLES */
.quotes {
  width: 90%;
  margin: 0 auto; }

.bubble blockquote {
  margin: 10px 10px 0;
  background: #f9e6df;
  padding: 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-size: 1.25em;
  color: #231010; }

.bubble blockquote:before,
.bubble blockquote:after {
  content: "“";
  position: absolute;
  font-size: 80px;
  padding: 10px;
  line-height: 1;
  color: #ca5728; }

.bubble blockquote:before {
  top: 0;
  left: 10px; }

.bubble blockquote:after {
  content: "”";
  right: 10px;
  bottom: -0.5em; }

.bubble div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f9e6df;
  margin: 0 0 0 60px; }

.bubble cite {
  padding-left: 20px;
  font-size: 1.25em; }

/* FOOTER STYLES */
.footer {
  height: 200px;
  background-color: #F5F4F4;
  margin-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer p {
    margin: 25px auto 5px; }
  .footer .icon-social {
    margin: 20px 0;
    height: 50px;
    width: 50px; }

footer {
  background-color: #F5F4F4; }

/* GALLERY PAGE STYLES */
.inner-gallery-page {
  width: 90%;
  margin: 0 auto; }

#gallery-wrapper-page {
  margin-top: 50px;
  background-color: white; }

/* PRICES PAGE STYLES */
table {
  width: 80%;
  margin: 0 auto 100px;
  text-align: center; }
  table th {
    text-align: center;
    background-color: #f9e6df; }
  table tr:nth-child(odd) {
    background-color: #F5F4F4; }

caption {
  text-align: center; }

.price-header {
  width: 90%;
  margin: 0 auto 50px;
  color: #7b6f6f;
  text-align: center;
  font-size: 1.3em; }

/* CONTACT PAGE STYLES */
#contact-container {
  background-color: white;
  width: 90%;
  margin: 0 auto; }

.glyphicon {
  margin-bottom: 10px; }

#phone-link {
  margin-bottom: 10px;
  display: inline-block; }

.icons {
  width: 70px;
  height: 70px;
  padding: 10px; }

/* MEDIA QUERIES */
@media screen and (min-width: 1031px) {
  .inner-gallery a {
    width: 150px; }

  .nav-mobile {
    display: none; }
    .nav-mobile button {
      display: none; }

  table {
    width: 60%; }

  .price-header {
    width: 70%; }

  .image-section {
    height: 500px; }

  #splashscreen img {
    width: 70%;
    margin: 5% 15%; } }
@media screen and (max-width: 1030px) {
  .nav-mobile {
    z-index: 999;
    display: block;
    position: absolute;
    top: 175px;
    width: 100%;
    margin: 0 auto; }
    .nav-mobile ul {
      display: none;
      margin-top: 15px; }
    .nav-mobile button {
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      text-indent: 200%;
      background: rgba(255, 255, 255, 0.8) url(http://i.imgur.com/vKRaKDX.png) center no-repeat;
      border-radius: 3px;
      background-size: 80%;
      width: 30px;
      height: 30px;
      outline: none;
      transition: all 400ms ease; }
    .nav-mobile #nav-items-mobile {
      display: block;
      width: 100%;
      color: #f4d6ca;
      background-color: #F5F4F4;
      text-align: center; }
      .nav-mobile #nav-items-mobile a {
        font-weight: bolder;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        text-decoration: none;
        text-align: center;
        display: block;
        width: 100%;
        height: 70px;
        padding: 23px 0px;
        color: #231010; }
      .nav-mobile #nav-items-mobile:hover {
        background: #eeecec; }

  .header {
    display: flex;
    flex-direction: column;
    height: 250px; }
    .header a {
      display: block;
      justify-content: center;
      margin: 0 auto; }
    .header #logo {
      display: block;
      max-width: 100%;
      background-size: cover;
      margin: 0 auto; }
    .header .nav {
      display: none;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin: 0px auto 40px; } }
@media screen and (max-width: 430px) {
  #small-text {
    font-size: 0.8em; }

  .image-section {
    background-position: right; }

  #logo {
    display: block;
    max-width: 50%;
    background-size: cover;
    margin: 0 auto; } }
@media screen and (max-width: 320px) {
  #logo {
    display: block;
    width: 300px;
    margin: 0 auto; } }

/*# sourceMappingURL=app.css.map */
