/* MEDIA QUERIES */

@media screen and (min-width: 1031px)
	.inner-gallery
		a
			width: 150px
	.nav-mobile
		display: none
		button
			display: none

	table
		width: 60%

	.price-header
		width: 70%

	.image-section
		height: 500px

	#splashscreen
		img
			width: 70%
			margin: 5% 15%

	#navbar-mobile
		display: none
		
@media screen and (max-width: 1030px)

	@import "hamburger"

	.header
		display: flex
		flex-direction: column
		height: 250px
		a
			display: block
			justify-content: center
			margin: 0 auto
		#logo
			display: block
			max-width: 100%
			background-size: cover
			margin: 0 auto
		.nav
			display: none
			justify-content: center
			flex-wrap: wrap
			width: 100%
			margin: 0px auto 40px



@media screen and (min-width: 481px)
	#carousel-mobiles,
	#mobile-gallery-header
		//display: none


@media screen and (max-width: 430px)

	#small-text
		font-size: .8em

	.image-section
		background-position: right

	#logo
		display: block
		max-width: 50%
		background-size: cover
		margin: 0 auto

@media screen and (max-width: 320px)

	#logo
		display: block
		width: 300px
		margin: 0 auto
